<%
    let days = weather.timelines.daily;
    let unitType;
    if(units === "imperial"){
        unitType = "°F";
        windType = "mph";
    } else {
        unitType = "°C";
        windType = "kmh";
    }
%>

<div class="location-weather">
    <div id="sevend">
    <h2><%= location%><br> 7 Day Forecast</h2>
    </div>
    <% for (let day of days) {
        let date = new Date(day.time)
    %>

    <div class="forecast-day">
        <p><h3><%= date.toLocaleDateString('en-US', { weekday: 'long' }); %></h3></p>
        <p>
            <i class="wi wi-thermometer"></i>
            <strong>Temperature (Average): </strong> <%= day.values.temperatureAvg + " " + unitType %>
        </p>
        <p>
            <i class="wi wi-thermometer-exterior"></i>
            <strong>Temperature (Max): </strong> <%= day.values.temperatureMax + " " + unitType %>
        </p>
        <p>
            <i class="wi wi-thermometer"></i>
            <strong>Temperature (Min): </strong> <%= day.values.temperatureMin + " " + unitType %>
        </p>
        <p>
            <i class="wi wi-hot"></i>
            <strong>Humidity: </strong> <%= day.values.humidityAvg + "%" %>
        </p>
        <p>
            <i class="wi wi-rain"></i>
            <strong>Precipitation Chance: </strong> <%= day.values.precipitationProbabilityAvg  + "%"%>
        </p>
        <p>
            <i class="wi wi-strong-wind"></i>
            <strong>Wind Speed: </strong> <%= day.values.windSpeedAvg + " " + windType %>
        </p>
    </div>
    <br><br>
    <% } %>
</div>